[submodule "files/tmux/plugins/tpm"]
	path = files/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "files/nvim"]
	path = files/nvim
	url = https://github.com/ShizukanaOtaku/nvim
